<div class="navbar">
    <div class="container">
        <span><%= image_tag("nav_icon.svg") %></span>
        <span class="navbar_button">
            <a href="#home">HOME</a>
        </span>
    </div>
</div>

<div class="page-home" id="page-home">
    <div id="mosaic"></div>
    <%= image_tag("home-page.jpg") %>
    <div class="container"> 
        <div class="row">
            <header>
                <h1>Clair Hu</h1>
                <h3>Software Engineer</h3>
            </header>
        </div>    
    </div>
</div>

<%= javascript_pack_tag('index_helper') %>
