<div class="navbar">
    <div class="container">
        <span><%= image_tag("nav_icon.svg") %></span>
        <span class="navbar_button">
            <a href="#home">HOME</a>
        </span>
    </div>
</div>

<%= javascript_pack_tag('index_helper') %>
