// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: Oxygen,sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

/*** navbar styles ***/
.navbar {
    background-color: rgba(255,255,255,.75);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.875rem;
        // padding: 0 0.5rem;
    
        img {
            margin: 0.3rem;
            height: 1rem;
        }

        a {
            margin-left: 0.5rem;
            color: #777;
            text-decoration: none;
        }
    
    }   
}

/*** home page styles ***/
.page-home {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;

    img {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    #mosaic {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: image-url('mosaic.png');
        background-size: auto;
        z-index: -1;
        opacity: .5;
    }

    .container {
        z-index: 0;
    }

    header {
        margin: 0 auto;
        color: white; // TODO update based on the final background image
        padding-top: 20%;
    }

    .social-icons {
        font-size: 1.5rem;
        color: white;

        .btn {
            margin-right: 1.5rem;
        }

        .btn-round {
            border: 1px white solid;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: inline-block;
            padding: 0;
        }
        
        i {
            top: 5px;
            position: relative;
        }
    }
}

.btn.btn-default {
    margin: 40px auto 0;
    background: 0 0;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;
    transition: all .1s ease-in-out;
}

/*** subpages styles ***/
.subpage-header {
    text-align: center;

    .subpage-title {
        color: #555;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        padding: 20px 0;
        font-weight: 600;
    }

    .subpage-subtitle {
        color: gray;
        padding: 30px 0;
    }
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
    background: #3498db;
}

/*** profile page styles ***/
.page-profile {
    padding: 75px;
    background: white;

    p {
        font-size: 1.3rem;
    }
}

/*** languages page styles ***/
.page-languages {
    padding: 75px;
    background: #f7f7f7;

    .page-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .progress-container {
        width: 50%;
        position: relative;
        float: left;
    
        button {
            border: none;
            width: 20%;
        }
    
        #progress {
            
            background-color: white;
            width: 80%;
        
            
        
            .progress-bar{
                width: 1%;
                color: white;
                height: 30px;
                background-color: #3498db;
                text-align: center;
                line-height: 30px;
            }
        }
    }
    
}

/*** skills page styles ***/
.page-skills {
    padding: 75px;
    background: white;
    display: flex;
    flex-wrap: wrap;

    .skill-section {
        position: relative;
        width: 50%;
        text-align: center;
        float: left;
        margin-bottom: 1.5rem;

        img {
            height: 6rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

/*** projects page styles ***/
.page-projects {
    padding: 75px;
    background: #f7f7f7;

    .page-content {
        display: flex;
        flex-wrap: wrap;

        .project-section {
            width: 50%;
        }
    }
}

/*** education page styles ***/
.page-education {
    padding: 75px;
    background: white;
    display: flex;
    flex-wrap: wrap;

    .education-section {
        position: relative;
        width: 40%;
        float: left;
        margin-left: 5rem;

        a {
            font-size: 1.45rem;
            color: #3498DB;
        }

        p {
            font-size: 1rem;
            color: #757575;
            margin-bottom: 0.625rem;
        }
    }
}

/*** experience page styles ***/
.page-experience {
    padding: 75px;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;

    .experience-section {
        position: relative;
        width: 30%;
        text-align: center;
        float: left;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
  
        img {
            height: 6rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

/*** contact page styles ***/
#page-contact{
    padding: 75px;
	background: #3498db;
    color:#fff;
    text-align: center;

    a {
        color: white;
    }
}

.project-subpage {
    text-align: center;
    padding: 5rem 0;

    .navbar {
        background-color: rgba(0, 0, 0, 0.4);

        a {
            color: white;
        }
    }

    .project-title {
        color: #757575;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1rem;
        color: #757575;
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 3rem;
    }
    
    .fa {
        font-size: 3rem;
        color:black;
    }

    .spacer {
        background-color: white;
        margin-bottom: 2rem;
    }

}



